@page
@model IndexModel
@{
    ViewData["Title"] = "Тестовая страница для вызова проверки работоспособности ПО";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в тестовый проект проверки работоспособности ПО</h1>
    <a href="/health/html" target="_blank">Открыть HTML версию проверки</a><br/>
    <a href="/health/json" target="_blank">Открыть JSON версию проверки</a>
</div>